{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "svelteAllowShorthand": false,
        "svelteSortOrder": "options-scripts-styles-markup",
        "plugins": ["prettier-plugin-svelte"]
      }
    }
  ],
  "pluginSearchDirs": ["."]
}
